@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Tajawal:wght@200&display=swap");

:root {
  --main-color: #00c44b;
  --red: red;
  --light-color: #777;
  --light-bg: #eee;
  --black: #2c3e50;
  --white: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);

  --green: rgb(11, 173, 11);
}

* {
  font-family: "Comfortaa", cursive;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
*::selection {
  background-color: var(--main-color);
  color: var(--white);
}
::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}
body {
  background-color: var(--light-bg);
}
section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}
.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.section-title {
  border-top: 1rem solid var(--main-color);
  border-bottom: 1rem solid var(--main-color);
  background-color: var(--main-color);
  color: var(--white);
  text-align: center;
  padding: 6rem 2rem;
  font-size: 5rem;
  text-transform: capitalize;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 1.3rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: var(--white);
  background-color: var(--main-color);
  border-radius: 0.5rem;
  text-transform: capitalize;
  text-align: center;
}
.btn:hover {
  background-color: var(--black);
}
.flex-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  flex-wrap: wrap;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 1000;
}
.header .flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}
.header .flex .Carrer {
  font-size: 1.8rem;
  color: var(--green);
}

.header .flex .Carrer i {
  margin-right: 0.5rem;
  color: var(--light-color);
}
.header .flex .navbar a {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  color: var(--light-color);
  border-radius: 0.5rem;
  text-transform: capitalize;
}
.header .flex .navbar a:hover {
  background-color: var(--main-color);
  color: var(--white);
}

.footer .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  gap: 1.5rem;
  justify-content: center;
  align-items: first flex-start;
}
.footer .grid .box h3 {
  font-size: 1.5rem;
  color: var(--black);
  margin: 1rem 0;
  padding-bottom: 1rem;
  text-transform: capitalize;
}
.footer .grid .box a {
  display: block;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  color: var(--light-color);
}

.footer .grid .box a i {
  color: var(--main-color);
  margin-right: 0.8rem;
  transition: 0.2s linear;
}
.footer .grid .box a:hover i {
  margin-right: 2rem;
}
.footer .copy {
  text-align: center;
  padding: 2rem;
  border-top: var(--border);
  background-color: var(--white);
  font-size: 1.5rem;
  color: var(--light-color);
}

.home-container {
  background: url("../img/office.jpg"), no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: color;
}
.home-container .home {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container .home form {
  background-color: var(--white);
  width: 50rem;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
}
.home-container .home form h3 {
  font-size: 2.5rem;
  color: var(--black);
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.home-container .home form p {
  text-align: left;
  font-size: 1.6rem;
  color: var(--light-color);
  padding-top: 1rem;
}
.home-container .home form .input {
  width: 100%;
  border-radius: 0.5rem;
  margin: 1rem 0;
  background-color: var(--light-bg);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.category .box-container .box {
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 1.5rem;
  background: var(--white);
  display: flex;
  align-items: center;
  gap: 2rem;
}
.category .box-container .box i {
  height: 6rem;
  width: 7rem;
  line-height: 6rem;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  text-align: center;
}
.category .box-container .box h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--black);
  padding-bottom: 0.4rem;
}
.category {
  height: 800px; /* adjust to desired height */
  overflow: scroll; /* enable scrolling */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-container {
  max-width: 1000px; /* adjust to desired width */
  margin: 0 auto;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: white;
  text-decoration: none;
  color: #000;
}

.box i {
  font-size: 50px;
  margin-bottom: 20px;
}

.box h3 {
  font-size: 24px;
  margin: 0;
}

.box span {
  font-size: 14px;
}
.jobs-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.box-container {
  width: 90%; /* adjust to desired width */
  margin: 0 auto;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
 
}

.box {
  padding: 20px;
}

.company {
  text-align: center;
}

.company h1 {
  font-size: 36px;
  margin: 0;
}

.company p {
  font-size: 18px;
  margin: 20px auto;
}

.category {
  display: flex;
  justify-content: center;
}

.category .box-container {
  width: 800px; /* adjust to desired width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.category .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
}

.category .box i {
  font-size: 50px;
  margin-bottom: 20px;
}

.category .box h3 {
  font-size: 24px;
  margin: 0;
}

.category .box span {
  font-size: 14px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.about img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.about .box {
  background-color: var(--white);
  border-radius: 0.5rem;
  border: var(--border);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
}
.about .box h3 {
  font-size: 2.5rem;
  color: var(--black);

  margin-bottom: 1rem;
  text-transform: capitalize;
}

.about .box p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--light-color);
  margin-bottom: 20px;
}
.job-filter form {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
  padding: 2rem;
}
.job-filter form .flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}
.job-filter form .flex .box {
  flex: 1 1 40rem;
}
.job-filter form .flex .box p {
  font-size: 1.6rem;
  color: var(--light-color);
}
.job-filter form .flex .box p span {
  color: var(--red);
}
.job-filter form .flex .box .input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.4rem;
  color: var(--black);
  margin: 1rem 0;
  background-color: var(--light-bg);
  font-size: 1.8rem;
}
.job-filter form .dropdown-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.job-filter form .dropdown-container .dropdown {
  flex: 1 1 20rem;
  position: relative;
}
.job-filter form .dropdown-container .dropdown .output {
  width: 100%;
  background: var(--light-bg);
  border-radius: 0.5rem;
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.job-filter form .dropdown-container .dropdown .output:placeholder-shown {
  text-transform: capitalize;
}

.job-filter form .dropdown-container .dropdown .lists {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  border: var(--border);
  box-shadow: var(--box-shadow);
  z-index: 10;
  transition: 0.2s linear;
  transform: scaleY(0);
  transform-origin: top;
}
.job-filter form .dropdown-container .dropdown .lists .items {
  padding: 1.3rem 1.4rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: var(--black);
  cursor: pointer;
}
.job-filter form .dropdown-container .dropdown .lists .items:hover {
  background-color: var(--light-bg);
}
.job-filter form .dropdown-container .dropdown .lists:hover,
.job-filter form .dropdown-container .dropdown:hover .lists,
.job-filter form .dropdown-container .dropdown .output:focus + .lists,
.job-filter form .dropdown-container .dropdown .output:focus-within + .lists {
  transform: scaleY(1);
  transition: 0.2s linear;
}

.contact .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}
.contact .box-container .box {
  background-color: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
}
.contact .box-container .box i {
  height: 4.5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--white);
  background-color: var(--black);
  border-radius: 0.5rem;
}
.contact .box-container .box a {
  display: block;
  padding-top: 0.5rem;
  font-size: 1.6rem;
  color: var(--light-color);
  line-height: 1.5;
}
.contact form {
  margin-top: 2rem;
  background-color: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
}
.contact form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.contact form .flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}
.contact form .flex .box {
  flex: 1 1 40rem;
}
.contact form .input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1.4rem;
  color: var(--black);
  font-size: 1.8rem;
  background-color: var(--light-bg);
  margin: 1rem 0;
}
.contact form p {
  text-align: left;
  font-size: 1.6rem;
  padding-top: 1rem;
  color: var(--light-color);
}
.contact form textarea {
  height: 15rem;
  resize: both;
}
.account-form-container {
  background: url("../img/socie.jpg"), no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: color;
}
.account-form-container .account-form {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-form-container .account-form form {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 50rem;
  text-align: center;
}
.account-form-container .account-form form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.account-form-container .account-form form .input {
  width: 100%;
  margin: 1rem 0;
  font-size: 1.8rem;
  padding: 1.4rem;
  background-color: var(--light-bg);
}
.account-form-container .account-form form select {
  width: 100%;
  padding: 10px 15px;
  font-size: 17px;
  margin: 8px 0;
  background: #eee;
  border-radius: 5px;
}
.account-form-container .account-form form select option {
  background: #fff;
}

.account-form-container .account-form form p {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--light-color);
}
.account-form-container .account-form form p a {
  color: var(--main-color);
}
.account-form-container .account-form form p a:hover {
  color: var(--black);
  text-decoration: underline;
}
.form-container {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.form-container p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.form-container .input-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: content-box;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}